<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emporium</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/template" id="qq-template">
      <%= render partial: 'fine_uploader_template' %>
    </script>
  </head>

  <body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">

    <!-- Navigation -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Emporium</a>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <a class="nav-link" href="<%= new_upload_path %>">Uploads</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <%= yield %>
    </div>
  </body>

  <script>
    jQuery(document).ready(function() {
      var controller_name;
      var action_name;
      var scope;
      var $body = $('body')

      controller_name = $body.data('controller');
      action_name = $body.data('action');
      scope = window.Emporium || (window.Emporium = {});

      scope = scope[controller_name] || {};
      scope.initialize && scope.initialize();
      scope[action_name] && scope[action_name]();
    });
  </script>
</html>
